{% extends 'reman_2/base.html' %}
{% block style %}
<style>
    div {
        color: white;
    }

    table {
        position: relative;
        top: 5vh;
        max-height: 95vh;
        width: 100vw;
        overflow: auto;
        max-width: 100%;
        border: 1px solid lightgray;
        border-collapse: collapse;
        color: white;
        font-size: small;
        /* table-layout: fixed; */
        background-color: hsla(100, 50%, 5%, .9);
        cursor: pointer;
    }

    thead {
        position: sticky;
        top: 0vh;
        background-color: black;
        width: 100vw;
        max-width: 100%;
    }
</style>
{% endblock %}

{% block scripts-top %}
<script src="/static/xlsx.full.min.js"></script>
{% endblock %}

{% block body %}

<div class="wrapper">
    <table id="table">
        <thead>
            <tr id="table-heading-row">
                <th>Vstupní materiál</th>
                <th>Výstupní materiál</th>
                <th># na vstupu</th>
                <th># na výstupu</th>
                <th>Výsledek</th>
            </tr>
        </thead>

        <tbody id="table-body">
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
<script>
    const data = {{results|safe}}
    const tableBody = document.getElementById('table-body');
    const excluded = ['meta', 'level', 'as_input', 'as_output'];
    const errorCodes = new Set()

    Object.entries(data).forEach(entry => {
        Object.keys(Object.entries(entry[1])[0][1][3]).forEach(errorCode => {
            errorCodes.add(errorCode);
        })
    })

    errorCodes.forEach(errorCode => {
        let damageCodeCell = document.getElementById('table-heading-row').insertCell(-1);
        damageCodeCell.textContent = errorCode;
        damageCodeCell.dataset.damageCodeCell = errorCode;
    });

    Object.entries(data).forEach(entry => {
        processEntry(entry);
    })



    function processEntry(entry) {
        let row = tableBody.insertRow(-1);
        let sourceMaterialCell = row.insertCell(-1);
        sourceMaterialCell.textContent = entry[0];
        let entries = Object.entries(entry[1]);
        let finishedMaterialCell = row.insertCell(-1);
        finishedMaterialCell.textContent = entries[0][0];
        let sourceMaterialCountCell = row.insertCell(-1);
        sourceMaterialCountCell.textContent = entries[0][1][0];
        let finishedMaterialCountCell = row.insertCell(-1);
        finishedMaterialCountCell.textContent = entries[0][1][1];
        let resultCell = row.insertCell(-1);
        resultCell.textContent = `${(parseFloat(entries[0][1][2]) * 100).toFixed(2)}%`;
        errorCodes.forEach(() => {
            let cell = row.insertCell(-1);
            cell.textContent = "0";
        });
        let errors = entries[0][1][3];
        Object.entries(errors).forEach((errorArray) => {
            let errorCodeCellIndex = document.querySelector(`td[data-damage-code-cell="${errorArray[0]}"]`).cellIndex;
            row.getElementsByTagName('td')[errorCodeCellIndex].textContent = errorArray[1];
        })
    }

    document.addEventListener('keydown', (e) => {
        if (String.fromCharCode(e.keyCode).toLowerCase() === 'x') {
            let workbook = XLSX.utils.table_to_book(document.getElementById("table"));
            XLSX.writeFile(workbook, "Recondition.xlsb");
        }
    })
    
</script>
{% endblock %}