
{% extends 'base.html' %}

{% block head %}

{% load carpool_tags %}

{% load static %}

<style>

.carpool-breadcrumb {
    margin: 1em;
    margin-left: 10%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #00457e;
}

.hidden {
    display: none !important;
}

label {
    font-size: 1.6vh;
}

.gallery {
    width: 50vw;
    height: auto;
    position: absolute;
    border: 2px solid rgb(0, 69, 126);
    background-color: white;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 1fr;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.gallery img { 
    max-width: 90%;
    max-height: 90%;
    margin: 5%;
}

.carpool-create-carloan-wrapper {
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.carpool-carloan-form {
    border: 1px solid #00457e;
    padding: 1rem 1rem;
}

#form-header {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    height: 12.5vh;
    column-gap: 3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#form-header > div {
    display: flex;
    flex-flow: column;
    min-height: 0;
    justify-content: space-between;
    padding-bottom: 2rem;
    width: 100%;
}

label, input {
    display: block;
}

input {
    padding: 0.25rem 0.25rem;
    border: 0;
    border-bottom: 1px solid #00457e;
    outline: 0;
    font-size: 2.2vh;
}

label {
    text-transform: uppercase;
}

.checklist-row {
    display: grid;
    grid-template-columns: 3fr 0.5fr 1fr 3fr 1fr;
    gap: 0.5rem;
    justify-content: left;
    align-items: center;
}

.checklist-row-full-width {
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    gap: 1rem;
    justify-content: left;
    align-items: center;
}

#form-interior-exterior {
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 1.5rem;
}

.interior,
.exterior {
    width: 100%;
    display: flex;
    flex-flow: column;
    font-size: 2.2vh;
    background-color: aliceblue;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.checklist-title {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #00457e;
    font-weight: bold;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    font-size: 2.5vh;
}

textarea {
    resize:none;
    padding: 0.25rem 0.25rem;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

.checklist-ok,
.checklist-nok {
    cursor: pointer;
    border: 1px solid #00457e;
    width: 3.5vw;
    padding: 0.5rem;
    color: #00457e;
    text-align: center;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

.checklist-active {
    border: 1px solid #00457e;
    background-color: #00457e;
    color: white;
}

.checklist-inactive {
    border: 1px dotted white;
    background-color: rgba(0, 69, 126, 0.65);
    color: white;
}

.checklist-label {
    padding: 0.5rem 0.5rem;
    color: #00457e;
    font-weight:600;
    cursor: default;
    font-size: 2.3vh;
}

input[type="file"] {
    border: none;
}

.checklist-row > div:last-of-type {
    cursor: pointer;
}

#notes {
    width: 100%;
}

.notes textarea {
    padding: 0.5rem 0.5rem;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    display: flex;
    flex-flow: row;
    gap: 2rem;
}

.footer > div {
    width: 50%;
    margin: 1rem auto;
}

.submit input {
    background-color: #00457e;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.25rem 1.25rem;
    cursor: pointer;
    width: 100%;
    font-size: 2vh;
    border-radius: 0rem 0rem 2rem 2rem;
}

.label-container {
    display: flex;
    flex-flow: row;
    min-height: 0;
    align-items: center;
    max-height: 50%;
}

.label-container label {
    padding-left: 1rem;
}

.label-container img {
    height: -webkit-fill-available;
}

.delete-button {
    background-color: red;
    color: white;
    z-index: 20;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 1.25rem;
    position: relative;
}

.slider {
    width: 100%;
    accent-color: #00457e;
}

#tachometer-status {
    width: 100%;
    text-align: center;
}


@media print {
    @page { 
        size: landscape;
    }

    .checklist-label {
        color: black;
    }

    .checklist-ok,
    .checklist-nok {
        color: black;
    }

    img {
        display: none;
    }

    textarea {
        border: 1px solid black;
    }

    .carpool-create-carloan-wrapper {
        width: 277mm;
        height: 185mm;
    }

    .submit {
        visibility: hidden;
    }

    .checklist-row > div:last-of-type {
        display: none;
    }
    
    .checklist-row-full-width > div:last-of-type {
        display: none;
    }

    .carpool-breadcrumb {
        display: none;
    }

}

</style>

{% endblock %}

{% block body %}
<div class="carpool-breadcrumb"><a href="{% url 'carpool_home' %}">Domů</a> > Vyzvedávám služební auto</div>
<div class="carpool-create-carloan-wrapper">

    <div id="form-header">
        <div>
            <div class="label-container">
                <img src="/media/carpool/license-plate.png" /><label>SPZ</label>
            </div>
            <input type="text" size="8" readonly value="{{reservation.reserved_car.car_license_plate|to_license_plate}}">
        </div>

        <div>
            <div class="label-container">
                <img src="/media/carpool/start.png" /><label>Začátek zápůjčky</label>
            </div>
            <input type="datetime-local" id="carloan-start" name="carloan-start" value='{{reservation.reservation_datetime_start|date:"c"}}' readonly>
        </div>

        <div>
            <div class="label-container">
                <img src="/media/carpool/finish_2.png" /><label>Konec zápůjčky</label>
            </div>
            <input type="datetime-local" id="carloan-end" name="carloan-end"
                value='{{reservation.reservation_datetime_end|date:"c"}}' readonly>
        </div>
    
        <div>
            <div class="label-container">
                <img src="/media/carpool/shell-pin.png" /><label>Shell PIN</label>
            </div>
            <input type="text" readonly value="{{reservation.reserved_car.pin}}">
        </div>
        
        <div>
            <div class="label-container">
                <img src="/media/carpool/car.png" /><label>Čas převzetí vozidla</label>
            </div>
            <input type="datetime-local" name="carloan-pickup-time" id="pickup-time" readonly>
        </div>
    </div>
                    
    <div id="form-interior-exterior">
        <div class="interior">

            <div class="checklist-title">Interiér</div>

            {% for field in fieldsInterior %}

            {% if forloop.counter0 < 6 %}

            <div class="checklist-row" data-purpose="{{field.0}}">
                <div class="checklist-label">{{field.1}}</div>

                <div class="checklist-ok">OK</div>
                <div class="checklist-nok">NOK</div>
                <div><textarea rows="1" cols="20"></textarea></div>
                <input type="file" multiple name="camera-upload-{{field.0}}" accept="image/*" id="camera-upload-{{field.0}}"
                    style="display: none" />
                <div data-purpose="take-picture" data-field="{{field.0}}" style="display: flex; flex-flow: row; gap: 1rem">
                    <div style="width: 50%" onclick="document.getElementById('camera-upload-{{field.0}}').click()">
                        <img style="max-width: 100%; flex-grow: 1; flex-shrink: 1; object-fit: cover;" src="/media/carpool/camera_new.png">
                    </div>
                    <div style="width: 50%" class="hidden" id="gallery-{{field.0}}" data-purpose="button">
                        <img style="max-width: 100%; flex-grow: 1; flex-shrink: 1" src="/media/carpool/gallery.png">
                    </div>
                </div>
            </div>
    
            {% endif %}

            {% if forloop.counter0 == 6 %}

            <div class="checklist-row-full-width" data-purpose="{{field.0}}">
                <div class="checklist-label">{{field.1}}</div>
            
                <div class="checklist-range-slider">
                    <input type="range" min="0" max="100" value="50" class="slider" id="fuel-tank-slider" list="tickmarks" step="10">
                    <datalist id="tickmarks">
                        <option value="0"></option>
                        <option value="10"></option>
                        <option value="20"></option>
                        <option value="30"></option>
                        <option value="40"></option>
                        <option value="50"></option>
                        <option value="60"></option>
                        <option value="70"></option>
                        <option value="80"></option>
                        <option value="90"></option>
                        <option value="100"></option>
                    </datalist>
                </div>
            </div>

            {% endif %}

            {% if forloop.counter0 == 7 %}
            
            <div class="checklist-row-full-width" data-purpose="{{field.0}}">
                <div class="checklist-label">{{field.1}}</div>
            
                <div>
                    <input type="number" min="0" id="tachometer-status" value="{{reservation.reserved_car.car_mileage}}">
                </div>

                <input type="file" multiple name="camera-upload-{{field.0}}" accept="image/*" id="camera-upload-{{field.0}}"
                    style="display: none" />
                <div data-purpose="take-picture" data-field="{{field.0}}" style="display: flex; flex-flow: row; gap: 1rem ">
                    <div style="width: 50%" onclick="document.getElementById('camera-upload-{{field.0}}').click()">
                        <img style="max-width: 100%; flex-grow: 1; flex-shrink: 1; object-fit: cover;" src="/media/carpool/camera_new.png">
                    </div>
                    <div style="width: 50%" class="hidden" id="gallery-{{field.0}}" data-purpose="button">
                        <img style="max-width: 100%; flex-grow: 1; flex-shrink: 1" src="/media/carpool/gallery.png">
                    </div>
                </div>

            </div>
            
            {% endif %}

            {% if forloop.counter0 == 8 %}
            <div class="checklist-row" data-purpose="{{field.0}}">
                <div class="checklist-label">{{field.1}}</div>
            
                <div class="checklist-ok">OK</div>
                <div class="checklist-nok">NOK</div>
                <div><input type="date"></div>
                <input type="file" multiple name="camera-upload-{{field.0}}" accept="image/*" id="camera-upload-{{field.0}}"
                    style="display: none" />
                <div data-purpose="take-picture" data-field="{{field.0}}" style="display: flex; flex-flow: row; gap: 1rem">
                    <div style="width: 50%" onclick="document.getElementById('camera-upload-{{field.0}}').click()">
                        <img style="max-width: 100%; flex-grow: 1; flex-shrink: 1; object-fit: cover;" src="/media/carpool/camera_new.png">
                    </div>
                    <div style="width: 50%" class="hidden" id="gallery-{{field.0}}" data-purpose="button">
                        <img style="max-width: 100%; flex-grow: 1; flex-shrink: 1" src="/media/carpool/gallery.png">
                    </div>
                </div>
                </div>
            
            {% endif %}

            {% endfor %}

        </div>

        <div class="exterior">
            <div class="checklist-title">Exteriér</div>

                {% for field in fieldsExterior %}
                
                <div class="checklist-row" data-purpose="{{field.0}}">
                    <div class="checklist-label">{{field.1}}</div>
                    <div class="checklist-ok">OK</div>
                    <div class="checklist-nok">NOK</div>
                    <div><textarea rows="1" cols="20"></textarea></div>
                    <input type="file" multiple name="camera-upload-{{field.0}}" accept="image/*" id="camera-upload-{{field.0}}" style="display: none" />
                    <div data-purpose="take-picture" data-field="{{field.0}}" style="display: flex; flex-flow: row; gap: 1rem">
                        <div style="width: 50%" onclick="document.getElementById('camera-upload-{{field.0}}').click()">
                            <img style="max-width: 100%; flex-grow: 1; flex-shrink: 1; object-fit: cover;" src="/media/carpool/camera_new.png">
                        </div>
                        <div style="width: 50%" class="hidden" id="gallery-{{field.0}}" data-purpose="button">
                            <img style="max-width: 100%; flex-grow: 1; flex-shrink: 1" src="/media/carpool/gallery.png">
                        </div>
                    </div>
                </div>
                
                {% endfor %}
        
            </div>
        </div>

    <div class="footer">
        <div class="notes">
            <textarea id="notes" placeholder="Místo pro vaše poznámky při vyzvednutí auta"></textarea>
        </div>

        <div class="submit">
            <input type="submit" id="submit-form-button" value="Stvrzuji, že jsem vozidlo převzal ve výše popsaném stavu (odeslat)">
        </div>
    </div>

    <div class="gallery hidden" id="gallery-container"></div>


</div>

<script>

    const checks_ok = document.querySelectorAll('[class*="checklist-ok"]')
    const checks_nok = document.querySelectorAll('[class*="checklist-nok"]')
    const fuelTankSlider = document.getElementById('fuel-tank-slider')
    const picture_icons = document.querySelectorAll('[data-purpose="take-picture"]')
    const submitButton = document.getElementById('submit-form-button')
    const imageFields = document.querySelectorAll('[name*="camera-upload"]')
    const reservationId = "{{reservation.id}}"
    const galleryButtons = document.querySelectorAll('[id*="gallery-"][data-purpose="button"]')
    const formData = new FormData()
    const imageMap = new Map()
    const galleryContainer = document.getElementById('gallery-container');

    formData.set('tank-status', 50);
    formData.set('tachometer-value', document.getElementById('tachometer-status').value);

    fuelTankSlider.addEventListener('change', (e) => {formData.set('tank-status', e.target.value)})

    document.getElementById('notes').addEventListener('change', (e) => { formData.set('notes', e.target.value )})
    document.getElementById('tachometer-status').addEventListener('change', (e) => { formData.set('tachometer-value', e.target.value) })

    function hideGallery(event) {
        if (galleryContainer.contains(event.target)) {
            return false;
        } else {
            if (event.target.id == 'gallery-overlay') {
                return false;
            }
            if (event.target.id == 'delete-button') {
                return false;
            }
            galleryContainer.classList.add('hidden');
            galleryContainer.innerHTML = '';
        }
    }


    imageFields.forEach(imageField => {
        imageField.addEventListener('change', (e) => { addImagesToForm(e.target); addThumbNail(e.target) });
    }) 

    galleryButtons.forEach(galleryButton => {
        galleryButton.addEventListener('click', (e) => {
            console.log(e.target.tagName);
            let fieldName = e.target.tagName == "IMG" ? e.target.parentElement.id.replace("gallery-", "") : e.target.id.replace("gallery-", "");
            galleryContainer.classList.remove('hidden');
            document.addEventListener('click', hideGallery, true);
            console.log(fieldName)
            galleryContainer.innerHTML = '';
            imageMap.forEach((value, key) => {
                if (key.includes(fieldName)) {
                    let image = document.createElement('img');
                    image.classList.add('gallery-image')
                    image.src = value;
                    image.dataset.key = key;
                    image.addEventListener('click', (e) => { toggleOverlay(e.target)});
                    galleryContainer.append(image);
                }
            });
        })
    })


    function toggleOverlay(imgContainer) {
        if (imgContainer.dataset.active == 'true') {
            imgContainer.dataset.active = 'false';
            removeOverlay();
            return false;
        } else {
            document.querySelectorAll('[data-active="true"]').forEach(el => el.dataset.active = 'false')
            removeOverlay();
            imgContainer.dataset.active = 'true';
            const rect = imgContainer.getBoundingClientRect();
            let overlay = document.createElement('div');
            overlay.id = "gallery-overlay";
            overlay.style = `position: absolute; z-index: 10; pointer-events: none; background-color: rgba(0, 69, 126, 0.25); left: ${rect.left}px; top: ${rect.top}px; height: ${imgContainer.height}px; width: ${imgContainer.width}px`;
            document.body.append(overlay);
            if (document.getElementById('delete-button')) {
                document.getElementById('delete-button').remove();
            }
            let deleteButton = document.createElement('div');
            deleteButton.id = 'delete-button';
            deleteButton.dataset.key = imgContainer.dataset.key;
            deleteButton.innerText = 'Odstranit';
            deleteButton.classList.add('delete-button');
            deleteButton.style = `position: absolute; left: ${rect.left + imgContainer.width / 2}px; top: ${rect.top + imgContainer.height / 2}px; height: ${imgContainer.height / 2}px; width: ${imgContainer.height / 2}px;`
            deleteButton.addEventListener('click', (e) => removeImage(e.target));
            document.body.append(deleteButton);
        }
    }

    function removeOverlay() {
        if (document.getElementById('gallery-overlay')) {
        document.getElementById('gallery-overlay').remove();
        document.getElementById('delete-button').remove();
        }
    }

    function removeImage(button) {
        document.querySelector(`img[data-key="${button.dataset.key}"]`).remove();
        button.remove();
        removeOverlay();
        imageMap.delete(button.dataset.key);
        formData.delete(button.dataset.key);
    }

    async function addImagesToForm(imageField) {
        if (imageField.files.length > 0) {
            for (let i = 0; i < imageField.files.length; i++) {
                formData.set(`${imageField.name}_${i}`, imageField.files[i], `${reservationId}_${imageField.name}_${imageField.files[i].name}`);
                imageMap.set(`${imageField.name}-${i}`, await imageToUrl(imageField.files[i]));
            }
        }
    }

    async function imageToUrl(file) {
        return new Promise(resolve => {
            const picReader = new FileReader();
            picReader.onload = () => resolve(picReader.result);
            picReader.readAsDataURL(file);
        });
    }

    function addThumbNail(imageField) {
        document.getElementById(id=`gallery-${imageField.parentElement.dataset.purpose}`).classList.remove('hidden');
    }

    checks_ok.forEach(ok => {
        ok.addEventListener('click', (e) => {
            if (e.target.classList.contains('checklist-active')) {
                e.target.classList.remove('checklist-active');
            } else {
                e.target.nextElementSibling.classList.remove('checklist-active');
                e.target.classList.add('checklist-active');
                formData.set(`${e.target.parentElement.dataset.purpose}`, true)
            }
        })
    })

    checks_nok.forEach(nok => {
        nok.addEventListener('click', (e) => {
            if (e.target.classList.contains('checklist-active')) {
                e.target.classList.remove('checklist-active');
            } else {
                e.target.previousElementSibling.classList.remove('checklist-active');
                e.target.classList.add('checklist-active');
                formData.set(`${e.target.parentElement.dataset.purpose}`, false)
            }
        })
    })

    window.onload = function() {
        var currentdate = new Date();
        currentdate.setMinutes(currentdate.getMinutes() - currentdate.getTimezoneOffset())
        document.getElementById('pickup-time').value = currentdate.toISOString().slice(0,16)
    }

    submitButton.addEventListener('click', () => {
        submitForm()
        .then(() => { window.location.href = "{% url 'carpool_home' %}" })
        .catch(error => window.alert(error))
    })

    async function submitForm() {

        let missingRows = "";

        document.querySelectorAll('.checklist-row').forEach(row => {
            let checks = row.getElementsByTagName('div');
            let answers = 0;
            for (check of checks) {
                if (check.classList.contains('checklist-active')) {
                    answers += 1;
                }
            }
            if (answers == 0) {
                missingRows += `${row.querySelector('.checklist-label').textContent}, `;
            }
        })

        if (missingRows.length > 0) {
            let message = 'Vyplňte, prosím, následující řádky: ' + missingRows;
            let errorMessage = message.slice(0, message.length - 2);
            throw errorMessage
        }

        if (parseInt(document.getElementById('tachometer-status').value) == 0) {
            throw 'Zapište, prosím, stav tachometru'
        }

        let url = '{% url "create_carloan_form" reservation.id %}'

        formData.set('carloan_start', document.getElementById('carloan-start').value)
        formData.set('carloan_pickup_time', document.getElementById('pickup-time').value)
        formData.set('carloan_end', document.getElementById('carloan-end').value)

        const resp = await fetch(url, {
            method: 'POST',
            body: formData, 
        })

        return resp.json()
        }

</script>


{% endblock %}